@font-face{
  font-family:Avenir;
  font-weight:normal;
  src:url('/fonts/avenir/Avenir-Book-01.ttf');
}

@font-face{
  font-family:Avenir;
  font-weight:bold;
  src:url('/fonts/avenir/Avenir-Heavy-05.ttf');
}

@font-face{
  font-family:Avenir;
  font-weight:900;
  src:url('/fonts/avenir/Avenir-Black-03.ttf');
}


@font-face{
  font-family:Avenir;
  font-weight:lighter;
  src:url('/fonts/avenir/Avenir-Light-07.ttf');
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    color:#e2d9d0;
    min-height: 100%;
    margin: 0;
    font-family: Avenir;
    background-image: url("/images/blades_tile_bg.jpg");
    background-repeat: repeat;
    font-size:16px;
}

section {
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: inherit;
  opacity: 0.8;
}

button:hover {
  opacity: 0.8;
}

.eqCell{
   width: 265px;
   height: 265px;
   margin: 5px auto;
   padding: 0px 10px 0 10px;
   background-color: #f2f2f2;
}

.eqCell img {
   max-width:244px;
   max-height:244px;
}

.separator {
  padding: 10px;
  font-family: Avenir;
  font-size: 38px;
  position: relative;
}

.separator:before {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  content: '';
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.separator .content {
  position: relative;
}

.ExampleCharacterTitle{
  margin-top:40px;
  font-size:1.75rem;
  text-align:center;
}
@media (max-width: 800px) {
  .ExampleCharacterTitle{
    font-size:1rem;
  }

  .ExampleCharacter{
    margin: 20px auto;
    width:90px;
  }
}
.ExampleChracters{
  margin-top:30px;
  justify-content:center;
  width:100%;
}
.ExampleCharacter{
  text-align:center;
}
.ExampleCharacterImg{
  width:100px;
  padding:10px;
}
