@font-face{
  font-family:Avenir;
  font-weight:normal;
  src:url('/fonts/avenir/Avenir-Book-01.ttf');
}

@font-face{
  font-family:Avenir;
  font-weight:bold;
  src:url('/fonts/avenir/Avenir-Heavy-05.ttf');
}

@font-face{
  font-family:Avenir;
  font-weight:900;
  src:url('/fonts/avenir/Avenir-Black-03.ttf');
}


@font-face{
  font-family:Avenir;
  font-weight:lighter;
  src:url('/fonts/avenir/Avenir-Light-07.ttf');
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

body {
    color:#e2d9d0;
    min-height: 100%;
    margin: 0;
    font-family: Avenir;
    background-image: url("/images/blades_tile_bg.jpg");
    background-repeat: repeat;
    font-size:16px;
}
.eqCell{
   width: 265px;
   height: 265px;
   margin:5px 0 5px 0;
   padding: 0px 10px 0 10px;
   background-color: #f2f2f2;
   position:relative;
}

.eqCell img {
   max-width:244px;
   max-height:244px;
   position:absolute;
   top:50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}

.SeparatorBgContent{
  left:0;
  width:100%;
  top:50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  position:absolute;
}

.SeparatorText{
  width:100%;
  height:100%;
  font-family: Avenir;
  font-size: 38px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.74;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
  top:45%;
  left:0;
  position:absolute;
}

.SeparatorBgImg {
  object-fit: contain;
  opacity:0.5;
  width:100vw;
}
.SeparatorBg{
  width:100%;
  position:relative;
}
