[Unit]
Description=bladesofvalor-www
After=network.target

[Service]
Environment=NODE_VERSION=16.14.2
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/.nvm/nvm-exec yarn next start
WorkingDirectory=/home/ubuntu/ogn-arena/dapp/

Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=bladesofvalor

[Install]
WantedBy=multi-user.target
